adjustText==1.3.0
altair==6.0.0
auto_mix_prep==0.2.0
community==1.0.0b1
dash_bio==1.0.2
dask==2026.1.2
Flask==3.1.3
geopandas==1.1.2
matplotlib==3.10.8
mlxtend==0.24.0
networkx==3.5
numpy==2.4.2
pandas==3.0.1
plotly==6.5.2
pyarrow==21.0.0
pymannkendall==1.4.3
pyvis==0.3.2
ruptures==1.1.10
scikit_learn==1.8.0
scikit_posthocs==0.12.0
scipy==1.17.0
seaborn==0.13.2
Shapely==2.1.2
statsmodels==0.14.6
tqdm==4.67.1
